---
layout: 'page.njk'
title: About
---

<main class="page-content" aria-label="Content">
    <p>👋</p>
    <h2 id="im-sharif-mohammad-eunus">
        I’m Sharif Mohammad Eunus
    </h2>
    <p>From Dhaka, Bangladesh 🇧🇩</p>
    <p>Currently exploring Linux servers and working remotely for a USA-based company as a Hosting Support Engineer. I enjoy
        creating websites with React, Laravel, and WordPress and learning new things.</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/sharif-mohammad-eunus-a962b310b/">LinkedIN</a></li>
        <li><a href="https://github.com/shariffff">Github</a></li>
        <li><a href="https://twitter.com/smEunus">Twitter</a></li>
    </ul>
</main>