---
layout: 'page.njk'
title: Blog
---

<div
    class="author">
    <!-- <img class="author-avatar" src="/assets/img/avatar.jpg" alt="username" /> -->
    <h2 class="author-name">Sharif Mohammad Eunus</h2>
    <p class="author-bio">Watch, Read, Listen</p>
</div>
<main aria-label="Content">
    <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
    {%- for post in collections.posts -%}
        <article class="post-item">
            <span class="post-item-date">{{ post.data.date | readableDate }}</span>
            <h4 class="post-item-title">
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h4>
        </article>
    {%- endfor -%}
</main>