{% include 'header.njk' %}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article itemscope itemtype="https://schema.org/BlogPosting">
            <header class="header">
                <div
                    class="tags"><!-- <span itemprop="keywords"> <a class="tag" href="/tags/#cli">CLI</a> </span> -->
                </div>
                <h1 class="header-title" itemprop="headline">{{ title }}</h1>
                <div class="post-meta">
                    <time datetime="{{ date | htmlDate }}" itemprop="datePublished">
                        {{ date | readableDate }}
                    </time>
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">Sharif Mohammad Eunus</span>
                    </span>
                    <time hidden datetime="{{ date | htmlDate }}" itemprop="dateModified">
                        {{ date | readableDate }}
                    </time>
                    <span hidden itemprop="publisher" itemtype="Person">Sharif Mohammad Eunus</span>
                </div>
            </header>
            <div class="page-content" itemprop="articleBody">
                {{ content | safe }}
            </div>
        </article>
    </main>
    <!-- <nav class="post-nav"> <a class="post-nav-item post-nav-prev" href="/">
            <div class="nav-arrow">Previous</div> <span class="post-title"></span>
        </a> </nav> -->
    {% include 'footer.njk' %}