---
const today = new Date();
---

<footer class="footer">
	<!-- {# <a class="footer_item" href="/feed.xml">rss</a> #} -->
	<span class="footer_item">&copy; 2024</span>
</footer>
<script is:inline>
	(() => {
		// Blur the content when the menu is open
		const cbox = document.getElementById('menu-trigger');
		cbox.addEventListener('change', function () {
			const area = document.querySelector('.wrapper');
			this.checked
				? area.classList.add('blurry')
				: area.classList.remove('blurry');
		});
	})();
</script>
