---
const today = new Date();
---

<footer class="footer">
	<div>
		<p style="margin-bottom: 2rem;">
			<span style="color: var(--color-accent);;"
				>Sign Up for My Newsletter!</span
			>
			<br />
			<small
				>Your email is safe with me - I won't sell it, even for a laugh!</small
			>
		</p>

		<iframe
			src="https://embeds.beehiiv.com/3d4286c7-1821-4b63-8ea8-656f40a504c6?slim=true"
			data-test-id="beehiiv-embed"
			height="52"
			frameborder="0"
			scrolling="no"
			style="margin: 0; border-radius: 0px !important; background-color: transparent;"
		></iframe>
	</div>

	<!-- {# <a class="footer_item" href="/feed.xml">rss</a> #} -->
	<span class="footer_item">&copy; 2024</span>
</footer>
<script is:inline>
	(() => {
		// Blur the content when the menu is open
		const cbox = document.getElementById('menu-trigger');
		cbox.addEventListener('change', function () {
			const area = document.querySelector('.wrapper');
			this.checked
				? area.classList.add('blurry')
				: area.classList.remove('blurry');
		});
	})();
</script>
