---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<div class="navbar" role="navigation">
		<nav class="menu">
			<input type="checkbox" id="menu-trigger" class="menu-trigger" />
			<label for="menu-trigger">
				<span class="menu-icon">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 512 512"
					>
						<path
							d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
						></path>
					</svg>
				</span>
			</label>
			<ThemeIcon />
			<div class="trigger">
				<div class="trigger-container">
					<HeaderLink class:list="menu-link" href="/">Home</HeaderLink>
					<HeaderLink class:list="menu-link" href="/about">About</HeaderLink>
					<a
						class="menu-link"
						href="https://github.com/shariffff"
						target="_blank"
						rel="noopener">github</a
					>
				</div>
			</div>
		</nav>
	</div>
</header>
